@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;600;700&family=Gowun+Batang&display=swap');

/*
font-family: 'Anton', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Gowun Batang', serif;
font-family: "Open Sans", sans-serif;
*/


/*ESTILOS GENERALES*/
body {
	font-family: "Open Sans", sans-serif;
}

h1,h2,h3{
	font-family: 'Cinzel', serif;
}


/*estilos del nav*/
.nav1 {
	background-color: #fcf4f1 !important; 
	font-size: 1.1em;
}

.bg-element-nav {
	background-color: #B8A199 !important;
	box-shadow: -2px -2px 3px 1px #917F79 !important;
	border: none !important;
	
}

.navbar img {
	margin-right: 2%;
	width: 150px;
}

/*Estilos pie de pagina*/
footer{
	background-color: #fcf4f1 !important;
}

footer ul a{
	text-decoration: none;
	color: white; /*Color texto blanco*/
/*	font-size: 1.2em;*/
	 position:relative;
    display:block; /*Que ocupe todo lo ancho*/
    width:45px;
    height:45px;
    background:#B8A199;
    text-align:center;
    box-shadow:0 0 0 3px #B8A199;
    overflow:hidden;
    border-radius:50%;
}
footer i{
	position:relative;
    font-size:25px;
    width:100%;
    height:100%;
    line-height:60px; /*Per centrar la icona verticalment*/
    transition:0.3s; /*Transició per als propers canvis*/
}
footer i:hover{
	transform:translateY(-100%); /*Desplaza iciono hacia arriba*/
    color:#B8A199; /*Cambia el color del icono a marron*/
}

footer ul a:before{
	content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:white; /*fondo del subelemento*/
    transform-origin:top; /*Origen de la transicion*/
    transform:scaleY(0); /*Invisible el elemento*/
    transition:transform 0.3s;
}

footer ul a:hover:before{
	transform:scaleY(1); /*Se muestra el elemento hecho invisible antes*/
}

footer ul a:hover i {
    color: #B8A199; /*Color del icono cuando se ha hecho el before del a*/
}

/*Estilo responsive pie de pagina*/

@media screen and (max-width: 580px){
	footer ul a{
		width: 30px;
		height: 30px;
	}

	footer i{
		font-size: 20px;
	}

	.logo img{
		width: 150px;
	}

	footer span{
		font-size: 0.7em;
	}
}

@media screen and (max-width: 700px) and (min-width: 580px){
	footer ul a{
		width: 35px;
		height: 35px;
	}

	footer i{
		font-size: 23px;
	}

	.logo img{
		width: 180px;
	}

	footer span{
		font-size: 0.8em;
	}
}

/*sec1*/

.bg-servicio7{
	background: url(../fotos/fondodifuminado-servicio7.jpg) no-repeat center center fixed !important;
	background-size: cover !important;

	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-voluntariado{
	background: url(../fotos/voluntariado-bg.jpg) no-repeat center center fixed !important;
	background-size: cover !important;

	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-container{
	background-color: white;

	height: 500px;
	opacity: 0.93;

}

.foto{
	width: 60%;
}

.foto img{
	width: 95%;
}

.texto{width: 40%}

.texto a{
	text-decoration: none;
	font-weight: bolder;
	background: #B8A199;
  	color: white; /* color de fuente */
  	padding: 16px 20px !important;
  	border-radius: 3px; /* redondear bordes */
  	position: relative;
  	z-index: 1;
  	overflow: hidden;
  	display: inline-block;
  	display: flex;
  	align-items: center;
}

.texto a::after{
	content: "";
  	background: #8C746C; /* color de fondo hover */
  	position: absolute;
  	z-index: -1;
  	padding: 16px 20px;
  	display: block;
  	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.texto a:hover:after{
	left: 0;
  	right: 0;
  	top: 0;
 	 bottom: 0;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

/*estios sec2*/

.sec2{
	background-color: #E1DFDF;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
}

.seciones{
	width: 90%;
	height: 120vh;
}
.arriba{
	margin-top: 100px;
	height: 200px;
	display: flex;
	gap: 90px;
}
.izquierda{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 50%
}

.derecha{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.verde{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#recanvi{
	margin-left: 10px;
}

.verde li{
	position: relative;
 padding-left: 25px;
 margin-right: 70px;
 list-style: none;
}

.verde li::before{ 
 content: '';
display: inline-block;
 width: 1em;
 height: 100%;
 background-image: url(../fotos/check.png);
 background-size: 2em; 
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 top: 0;
 left: 0;
} 

.rojo li{
position: relative;
 padding-left: 25px;
 list-style: none;
 width: 37%;
}

.rojo li::before{ 
 content: '';
display: inline-block;
 width: 1em;
 height: 100%;
 background-image: url(../fotos/cross.png);
 background-size: 2em; 
 background-repeat: no-repeat;
 background-position: center;
 position: absolute;
 top: 0;
 left: 0;
} 

.caja{
	width: 40%;
	display: flex;
	justify-content: center !important;
	align-items: center;
	padding-left: 15px;
	padding-bottom: 0px;
	flex-direction: column;
	gap: 30px;
	border: solid thin #8C746C;
	border-radius: 20px;
	background-color: #F9F8F8;
}

.caja span{
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
}
.caja h3,p,a{
	text-align: center;
}

.caja p{
	font-size: 1.5em;
}

.caja a{
	text-decoration: none;
	font-weight: bolder;
	background: #B8A199;
  	color: white; /* color de fuente */
  	padding: 16px 20px !important;
  	border-radius: 3px; /* redondear bordes */
  	position: relative;
  	z-index: 1;
  	overflow: hidden;
  	display: inline-block;
  	display: flex;
  	align-items: center;
}

.caja a::after{
	content: "";
  	background: #8C746C; /* color de fondo hover */
  	position: absolute;
  	z-index: -1;
  	padding: 16px 20px;
  	display: block;
  	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.caja a:hover:after{
	left: 0;
  	right: 0;
  	top: 0;
 	 bottom: 0;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.abajo{
	margin-top: 50px;
	display: flex;
	gap: 20px;
}

/*responsive*/

@media screen and (max-width: 580px){

/*Rsponsive de la secion 1 foto	*/
	.bg-servicio7{
		height: 105vh;
	}
	.bg-container{
		flex-direction: column !important;
		height: 85vh;
	}
	.foto{
		padding-top: 22px;
		width: 100%;
	}

	.texto{
		width: 100%;
		gap: 20px !important;
	}

	.texto h1{
		margin-top: 10px;
		font-size: 1.3em;
	}

	.texto p{
		font-size: 0.9em;
	}

	.texto a{
		padding: 5px 10px !important;
		font-size: 0.9em;
	}

/*Resopnsive secion 2	*/
.sec2{
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}
.seciones{
	width: 90%;
	height: 290vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.arriba{
	margin-top: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;

}
.izquierda{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%
}

.derecha{
	display: flex;
/*	flex-direction: column;*/
	justify-content: center;
	align-items: center;
	width: 100%;
}

.verde{
	display: flex;
	flex-wrap: wrap;
/*	gap: 10px;*/
	height: 200px;
	width: 100px;
/*	margin: 0px;*/
	padding: 0px;
}

.rojo{
	padding-left: 20%;
}

.rojo li{
	width: 112%;
}


#recanvi{
	margin-left: 0px;
}

.caja{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
/*padding-left: 15px;*/
	flex-direction: column;
	gap: 30px;
	border: solid thin #8C746C;
	border-radius: 20px;
	background-color: #F9F8F8;
	height: 500px;
}

.caja span{
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
}
.caja h3,p,a{
	text-align: center;
}

.caja p{
	font-size: 1.5em;
}

.caja a{
	text-decoration: none;
	font-weight: bolder;
	background: #B8A199;
  	color: white; /* color de fuente */
  	padding: 16px 20px !important;
  	border-radius: 3px; /* redondear bordes */
  	position: relative;
  	z-index: 1;
  	overflow: hidden;
  	display: inline-block;
  	display: flex;
  	align-items: center;
}

.caja a::after{
	content: "";
  	background: #8C746C; /* color de fondo hover */
  	position: absolute;
  	z-index: -1;
  	padding: 16px 20px;
  	display: block;
  	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.caja a:hover:after{
	left: 0;
  	right: 0;
  	top: 0;
 	 bottom: 0;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.abajo{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}


}

@media screen and (max-width: 1000px) and (min-width: 580px){
	/*Rsponsive de la secion 1 foto	*/
	.bg-servicio7{
		height: 110vh;
	}
	.bg-container{
		flex-direction: column !important;
		height: 100vh;
	}

	.foto{
		padding-top: 22px;
		width: 100%;
	}

	.texto{
		width: 100%;
		gap: 20px !important;
	}

	.texto h1{
		margin-top: 10px;
		font-size: 1.3em;
	}

	.texto p{
		font-size: 0.9em;
	}

	.texto a{
		padding: 5px 10px !important;
		font-size: 0.9em;
	}

/*Resopnsive secion 2	*/
.sec2{
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}
.seciones{
	width: 90%;
	height: 290vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}
.arriba{
	margin-top: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 20px;

}
.izquierda{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%
}

.derecha{
	display: flex;
/*	flex-direction: column;*/
	justify-content: center;
	align-items: center;
	width: 100%;
}

.verde{
	display: flex;
	flex-wrap: wrap;
/*	gap: 10px;*/
	height: 200px;
	width: 100px;
/*	margin: 0px;*/
	padding: 0px;
}

.rojo{
	padding-left: 20%;
}

.rojo li{
	width: 112%;
}


#recanvi{
	margin-left: 0px;
}

.caja{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
/*padding-left: 15px;*/
	flex-direction: column;
	gap: 30px;
	border: solid thin #8C746C;
	border-radius: 20px;
	background-color: #F9F8F8;
	height: 500px;
}

.caja span{
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
}
.caja h3,p,a{
	text-align: center;
}

.caja p{
	font-size: 1.5em;
}

.caja a{
	text-decoration: none;
	font-weight: bolder;
	background: #B8A199;
  	color: white; /* color de fuente */
  	padding: 16px 20px !important;
  	border-radius: 3px; /* redondear bordes */
  	position: relative;
  	z-index: 1;
  	overflow: hidden;
  	display: inline-block;
  	display: flex;
  	align-items: center;
}

.caja a::after{
	content: "";
  	background: #8C746C; /* color de fondo hover */
  	position: absolute;
  	z-index: -1;
  	padding: 16px 20px;
  	display: block;
  	top: 0;
  	bottom: 0;
  	left: 100%;
  	right: -100%;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.caja a:hover:after{
	left: 0;
  	right: 0;
  	top: 0;
 	 bottom: 0;
  	-webkit-transition: all 0.35s;
  	transition: all 0.35s;
}

.abajo{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
}


/*VOLUNTARIADO.HTML*/
.voluntariado{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.caja-voluntariado{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcf4f1;
	width: 30%;
	height: 200px;
}

.caja-voluntariado h3{
	width: 90%;
}

.bg-contrato{
	background: url(../fotos/bg-contrato.jpg) no-repeat center center fixed !important;
	background-size: cover !important;

	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*responsive*/
@media screen and (max-width: 580px){

/*Rsponsive de la secion 1 foto	*/
	.bg-servicio7{
		height: 105vh;
	}
	.bg-container{
		flex-direction: column !important;
		height: 85vh;
	}
	.foto{
		padding-top: 22px;
		width: 100%;
	}

	.texto{
		width: 100%;
		gap: 20px !important;
	}

	.texto h1{
		margin-top: 10px;
		font-size: 1.3em;
	}

	.texto p{
		font-size: 0.9em;
	}

	.texto a{
		padding: 5px 10px !important;
		font-size: 0.9em;
	}

	.caja-voluntariado h3{
		font-size: 0.9em;
	}
	.caja-voluntariado{
		width: 40%;
		height: 150px;
	}

}

@media screen and (max-width: 1000px) and (min-width: 580px){
	/*Rsponsive de la secion 1 foto	*/
	.bg-contrato{
		height: 110vh;
	}
	.bg-voluntariado{
		height: 110vh;
	}
	.caja-voluntariado h3{
		font-size: 1.2em;
	}
	.bg-container{
		flex-direction: column !important;
		height: 100vh;
	}

	.foto{
		padding-top: 22px;
		width: 100%;
	}

	.texto{
		width: 100%;
		gap: 20px !important;
	}

	.texto h1{
		margin-top: 10px;
		font-size: 1.3em;
	}

	.texto p{
		font-size: 0.9em;
	}

	.texto a{
		padding: 5px 10px !important;
		font-size: 0.9em;
	}
}